header {
	position: fixed;
	width: 100%;
	z-index: 2;
}

.main-content {
	padding-top: 120px;
}

@media only screen and (min-width: 992px){

	.fixed{
		/*position: fixed!important;*/
	}	
}



.user_feedback{
	word-wrap: break-word;
}

.question {
	position: sticky;
	position: -webkit-sticky;
	width: 250px;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	padding-top: 60px;
	flex-flow: column;
	overflow: hidden;
	margin-bottom: 40px;
}

footer{
	z-index: 5;
	position: relative;
}

@media only screen and (min-width: 992px){
	.question{
		padding-top: 20px;
		top: 120px;
	}
	#question{
		max-height: 250px;
		padding: 5px 0;
		margin-bottom: 15px;
		overflow-y: auto;
	}
}

.feedbacks {
	flex: 1 1 0;
	margin-bottom: 40px;	

}


.feedback-img {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 10px;
}

.feedback-img img {
	width: 40px;
	height: 40px;
	border-radius: 4px;
	margin-right: 5px;
}

.feedback-img h4 {
	margin: 0;
}

.err{
	box-shadow: 0px 0px 7px 0px red;
}

.feedback {
	box-shadow: 2px 4px 14px -6px #0009;
	width: 42%;
	margin:0 4%;
	margin-bottom: 25px;
	background-color: #38ad42;
	color: #fff;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 20px 60px 0px;
	border-bottom: 2px solid #ffffffe6;
}

.feedback p {
	font-size: 14px;
}

.feedback h4 {
	text-shadow: 1px 1px 2px #0000004d;
}




.make-feedback span {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 25px;
	background-color: #686d68;
	color: #fff;
	border-radius:5px;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
}

.options {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.back {
	border-radius: 15px 0 15px 15px !important;
}

.make-feedback form {
	position: relative;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	z-index: 1;
	left: 0%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	justify-content: flex-start;
	background-color: #EEEEEE;
	flex-flow: column;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px;
}



@media only screen and (min-width: 992px){
	.make-feedback form textarea {
		max-height: 200px;
		min-width: 220px;
		max-width: 220px;
		height: 200px;
	}	
}

.make-feedback form textarea {
	max-height: 200px;
	height: 200px;
}

.make-feedback form button,
.back {
	margin-top: 5px;
	cursor: pointer;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 25px;
	background-color: #38ad42;
	color: #fff;
	border-radius:5px;
	border: 0;
	width: 100%;
}

.tasix {
	z-index: 11;
}

.no-feedback{
	width: 100%;
	padding-top: 40px;
	font-size: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 992px) {
	.q_content{
		-webkit-transition: all .3s linear;
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;
		width: 100%;

	}
	.main-content {
		padding-top: 20px;
		flex-wrap: wrap;
	}

	.make-feedback{
		width: 100%;
	}

	.question {
		position: relative;
		flex-basis: 100%;
		padding-bottom: 20px;
	}

	textarea {
		height: 60px !important;
	}

	.feedbacks {
		margin-top: 20px;
		margin-left: 0 !important;
	}
}

@media only screen and (max-width: 768px) {
	.feedback {
		width: 40%;
		margin: 10px 5%;
	}
}

@media only screen and (max-width: 576px) {
	.feedback {
		width: 100%;
		margin: 10px 0 !important;
	}
}