/* Cat-News */

.articles {
  margin-bottom: 30px;
}

.articles img {
  border-radius: 4px;
}

.sm-article {
  padding-bottom: 15px;
  /* border-bottom: 1px dashed #e6e6e6; */
}

.sm-article img {
  border-radius: 4px;
}

.img_fix img {
  height: 250px !important;
}

.all_posts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 20px 10px;
  border-bottom: 1px solid #f1f1f1;
}

.all_posts a {
  color: #38ad42;
  font-weight: bold;
  border-bottom: 1px solid #38ad42;
  line-height: 1.4;
  transition: all 0.3s linear;
  text-decoration: none;
}

.all_posts a:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 992px) {
  .img_fix img {
    height: auto !important;
  }
}

@media only screen and (max-width: 576px) {
  .card-text {
    flex-wrap: wrap;
  }

  .card-text .adop_fix {
    flex-basis: 50%;
    margin-right: 0 !important;
  }
}

/* NEWS */

@import url("https://fonts.googleapis.com/css?family=Roboto&amp;display=swap");

#content {
  padding: 20px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  font-family: Roboto, Helvetica, sans-serif;
}

.blog-area img {
  width: 100%;
  height: 50%;
}

.blog-area {
  margin-bottom: 4.5rem;
}

.border-primary {
  border-bottom: 2px solid #51c75b;
}

.blog-title-6 {
  position: relative;
  margin-bottom: 1.5rem;
}

.border-primary span {
  margin-bottom: -2px;
  display: inline-block;
  position: relative;
  background-color: #51c75b;
  ine-height: 1.5rem;
  font-weight: 500;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 5px 5px 0 0;
}

.card-title a {
  text-decoration: none;
}

.card-title a:hover {
  transition: all 0.3s linear;
  color: #51c75b;
}

.card-text {
  margin-bottom: 30px;
}

.text-muted {
  color: #38ad42;
  margin-bottom: 0.5rem !important;
  display: flex;
  align-items: center;
}

.text-muted span {
  margin-right: 5px;
}

.text-muted * {
  font-size: 14px;
}

.btn-outline-primary {
  background: transparent;
  color: #38ad42;
  border: 1px solid #51c75b;
  transition: all 0.3s linear;
  box-shadow: none;
  transition: all 0.3s linear;
}

.btn-outline-primary:hover {
  color: #fff;
  border: 1px solid #fff;
  background-color: #51c75b;
}

/* OWL CAROUSEL */
.fcontainer {
  background-color: #fff;
}

.fposts {
  position: relative;
  display: flex;
  height: 100%;
}

.fposts-left {
  flex: 1 1 0;
  margin-right: 5px;
  position: relative;
}

.fposts-right {
  flex: 0.5 0.5 0;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.fposts-left .fpost-img img {
  height: 400px;
}

.fpost {
  position: relative;
}

.fposts-right .fpost-img {
  position: relative;
}

.flex_fix {
  flex: 1 1 0;
}

.flex_fix .fpost-img {
  height: 100%;
}

.flex_fix .fpost-img img {
  height: 100% !important;
}

.fposts-right .fpost-img img {
  position: relative;
  height: 197.5px;
}

.fpost-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* background: linear-gradient(180deg, rgba(16, 11, 11, 0) 0, rgba(0, 0, 0, .67) 49%, hsla(0, 0%, 7%, .88)); */
  /* background: linear-gradient(180deg, hsla(0, 5%, 69%, 0) 0, rgba(48, 48, 48, 0.25) 49%, hsla(0, 0%, 7%, 0.82)); */
  /* background-color: #3bb78f; */
  background-image: linear-gradient(315deg, #3bb78f6b 0%, #0bab64ba 74%);
  /* background-image: linear-gradient(180deg, #3bb78f00 0%, #0bab64ba 103%); */
  /* background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)); */
  padding: 10px;
  color: #fff;
}

.fpost-text h4 {
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .fposts-left .fpost-img img {
    height: 250px;
  }

  .fpost .bi__footer {
    justify-content: flex-start;
  }

  .fpost .bi__footer small {
    margin-right: 10px;
  }

  .fposts-right .fpost-img img {
    height: 190px;
  }

  .fposts {
    flex-flow: column;
  }

  .fposts-left {
    margin-right: 0;
    margin-bottom: 5px;
    flex: unset;
  }

  .fposts-right {
    flex-flow: row;
  }

  .fposts-right .fpost:first-child {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .fposts-right {
    flex-flow: column;
  }

  .fposts-left .fpost-img img {
    height: 190px;
  }

  .fposts-right .fpost {
    flex-flow: column;
    margin-right: 0 !important;
    margin-bottom: 5px;
  }
}
/* Sorted Cat Posts */

.image-wrapper img {
  width: 100%;
  height: auto;
}

.sorted_posts {
  margin-bottom: 30px;
  background: #fff;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}

.row-eq-height p {
  word-break: break-word !important;
}
